{% extends "base.jinja2" %}
{% block content %}

    <h3>{{ app_name }}: edit Tag</h3>




    <div class="well">

       <div class="row">
       <div class="col-md-5">

        <form action="" method="post" name="TagUpdateForm">

          {% include 'form_error.jinja2' %}

          <div class="form-group">
            {{ form.property.label }}
            {{ form.property(readonly=true) }}
          </div>

          <div class="form-group">
            {{ form.value.label }}
            {{ form.value(size=40) }}
          </div>

            {% if "Development Domain" in form.property() %}
              <div class="form-group">
                {{ form.domain_list(class="form-control input-sm") }}
              </div>
            {% endif %}

          <div class="form-group">
              <button type="submit" class="btn btn-default">Submit</button>
         </div>
        </form>

       </div>
       </div>

<script>
$( "#domain_list" )
  .change(function () {
        var str = $("#value").val();
        $( "select option:selected" ).each(function() {
            str = $( this ).val();});
    $( "#value" ).val( str );
  })
</script>

    </div>
{% endblock %}