{% macro qsorter(view, name, sort) -%}


    {% do query.update({'sort': sortdir+sort}) %}
    <a href="{{ request.route_url( request.matched_route.name, _query=( query )) }}">{{ name }}
            <span class="glyphicon glyphicon-sort"></span></a>

{%- endmacro %}